.logo-container img {
    margin: 0 auto;
    max-height: 150px !important;
    width: auto !important;
    object-fit: contain;
}

.footer-contant .logo-container,
.footer-contant .footer-para {
    text-align: center;
}