<!--footer start-->
<footer
  class="saas2 footer2"
  id="contact"
  [ngStyle]="{'background-image': 'url(assets/images/saas2/footer.png)', 'background-repeat': 'no-repeat', 'background-position': 'top'}"
>
  <div class="container footer-padding">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="logo-sec">
          <div class="footer-title mobile-title p-t-0">
            <h3 class="text-white">À Propos de Neohoods</h3>
          </div>
          <div class="footer-contant">
            <div class="logo-container">
              <img
                src="assets/images/logo/neohoods-logo-2-square.png"
                alt="Neohoods"
                class="img-fluid footer-logo"
              />
            </div>
            <div class="footer-para">
              <h6 class="text-white para-address">Neohoods</h6>
              <h6 class="text-white para-address">
                Plateforme innovante pour l'éco-quartier
              </h6>
              <h6 class="text-white para-address">France</h6>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="footer-title mobile-title">
          <h3 class="text-white">Services</h3>
        </div>
        <div class="footer-contant">
          <h5 class="footer-headings">Services</h5>
          <div>
            <ul class="footer-lists">
              <li class="">
                Portal Digital
              </li>
              <li class="">
                Chat Communautaire
              </li>
              <li class="">
                Support Syndic
              </li>
              <li class="">
                Drive Partagé
              </li>
              <li class="">
                Chambres d'Hôtes
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-12">
        <div class="footer-title mobile-title">
          <h3 class="text-white">Entreprise</h3>
        </div>
        <div class="footer-contant">
          <h5 class="footer-headings">Entreprise</h5>
          <div>
            <ul class="footer-lists">
              <li class="">
                <a href="#">À propos</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="footer-title mobile-title">
          <h3 class="text-white">Newsletter</h3>
        </div>
        <div class="footer-contant">
          <h5 class="footer-headings">Newsletter</h5>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="usr"
              placeholder="adresse email"
            />
            <a href=""><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          </div>
          <div>
            <h4 class="text-white unice-text">Neohoods</h4>
            <h6 class="text-white unice-copyright-text">© 2025 Neohoods</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer end-->
<app-tap-to-top />
