<!--slider css start-->
<section
  class="saas2 laptop-slider bg-gradient"
  id="screenshot"
  [ngStyle]="{'background-image': 'url(assets/images/saas2/background/screenshot-bg.png)'}"
>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="title">
          <div class="main-title">
            <h2 >Captures d'écran</h2>
          </div>
          <div class="sub-title">
            <p class="sub-title-para">
              Découvrez notre plateforme en action. Des fonctionnalités conçues
              pour simplifier la gestion de votre copropriété et renforcer la
              vie communautaire.
            </p>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="slider-container">
      <owl-carousel-o
        [options]="screenshotscarouselOptions"
        class="trainers-slider"
      >
        @for(screenshot of screenshots; track screenshot){
        <ng-template carouselSlide class="item">
          <img [src]="getImageSrc(screenshot)" alt="" class="img-fluid screenshot-image" />
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>
<!--slider css start-->
